@font-face {
    font-family: 'Montserrat';
    src: url('fonts/MONTSERRAT-REGULAR.TTF') format('truetype');
  }

body{
    background: #303841;
    margin-left: 16%;
    margin-right: 16%;
    display: flex;
    flex-direction: column;
}

#projectButton{
    height: 35px;
    width: 100%;
    padding-bottom: 50px;
}

#PicTitle {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column-reverse;
    
}

#formsFooter{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 175px;
}

#projectCards{
    width: 370px;
    height: 340px;
}

#projectCards:hover .middle{
    color: rgb(235, 156, 156);
    opacity: 1;
}

#projectCards:hover .image{
    opacity: 0.3;
}

.middle{
    color: rgb(235, 156, 156);
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#projectDisplay{
    display: flex;
    justify-content: space-evenly;
    height: 410px;
}

#homeFooter{
    justify-content: center;
    height: 45px;
    font-size: 20px;
}

#aboutBox{
    height: max-content;
    flex-direction: column;
    margin-bottom: 80px;
}

#bio{
    height: max-content;
}

#selfie{
    height: 250px;
    width: 250px;
}

#titlePill{
    height: 250px;
    flex-direction: row;
    margin-bottom: 20px;
}

#forms{
    width: 45%;
    margin-left: 5px;
}

#formMessage{
    flex-direction: column;
    width: 35%;
    height: 290px;
    text-align: center;
    align-items: center;
}

p, h1, h2, h3, a, label, #skillsBox{
    color: whitesmoke;
    font-family: 'Montserrat';
}

.messages, h2{
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 40px;
}

main {
    height: 380px;
}

.messages{
    justify-content: space-around;
}

#mediaIcons{
    width: 100%
}

.image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.text {
    color: black;
    font-size: 16px;
}